/* Import PrimeNG themes and resources */
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";

/* Import Tajawal font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@300;400;500;600;700;800;900&display=swap');

/* Global styles */
body {
  margin: 0;
  margin-top: 100px;
  padding: 0;
  font-family: 'Tajawal', sans-serif;
  text-align: right;
  background-color: #FAFBFF;
  background: #F5F7FA;
}

@media (max-width: 768px) {
  body{
    margin-top: 0px;
  }
}