<p-dialog
   [(visible)]="visible"
   [modal]="true"
   [closable]="true"
   [showHeader]="false"
   [draggable]="false"
   [closeOnEscape]="true"
   [dismissableMask]="true"
   (onHide)="onDialogHide()"
   [baseZIndex]="10"
   styleClass="car-form-dialog"
   [style]="{ width: '90vw', height: '92vh' }">
   
   <div class="dialog-wrapper">
    <!-- Left Side - Form -->
    <div class="form-side">
      <div class="section-block">
         <div class="input-row">
          <div class="input-col">
            <span class="input-label">מספר רכב</span>
            <input
               type="text"
               pInputText
               [(ngModel)]="formData.plateNumber"
               placeholder="123456789"
               class="form-input">
          </div>
           
          <div class="input-col">
            <span class="input-label">סוג רכב</span>
            <input
               type="text"
               pInputText
               [(ngModel)]="formData.model"
               placeholder="קיה פיקנטו"
               class="form-input">
          </div>
        </div>
         
        <div class="input-row">
          <div class="input-col">
            <div class="checkbox-wrapper-inline">
              <p-checkbox
                 [(ngModel)]="formData.active"
                 [binary]="true">
              </p-checkbox>
              <label class="check-text">פעיל</label>
            </div>
          </div>
        </div>
      </div>
       
      <button pButton label="שמירה" class="final-save-btn" (click)="onSubmit()"></button>
    </div>
     
    <!-- Right Side - Illustration -->
    <div class="illustration-side">
      <div class="image-overlay">
        <img src="assets/truck-gift.png" alt="Truck Illustration" />
        <h2>הוספת רכב<br>חדש</h2>
      </div>
    </div>
  </div>
</p-dialog>